*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
flask-web/.venv
.vscode
flask-web/**/__pycache__
flask-web/**/*.pyc
flask-web/data/db/*.db
