{% extends "base.html" %}
{% block body %}
{% include "navbar_user.html" %}
<!-- Page Content -->
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div style="margin-top:10px;" class="{{ category }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="jumbotron text-center">
        <h2>Welcome User</h2>
        {% if jumbomessage %}
        {% for message in jumbomessage %}
        <p><small>
                <font color="gray">{{ message }}</font>
            </small></p>
        {% endfor %}
        {% endif %}
        <div class="visible-sm-block visible-md-block visible-lg-block">
            <p>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-signal" aria-hidden="true"
                            style="margin-right:10px;"></span>View Reports
                        <span class="caret" style="margin-left:5px;"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('curvsprevexpenses') }}">Current vs Previous</a></li>
                        <li><a href="{{ url_for('categorystats') }}">Category Stats</a></li>
                        <li><a href="{{ url_for('yearataglance') }}">Year at a glance</a></li>
                    </ul>
                </div>
                <a class="btn btn-md btn-primary" href="" role="button">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Add account</a>
            </p>
        </div>
    </div>
    <!-- If accounts found, list them in a table -->
    {% if accounts %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Your Accounts at a glance</h3>
        </div>
        <div class="panel-body">
            {% if networth %}<h4>
                <small>Networth</small>
                <span class="label label-default">
                    &pound;&nbsp;{{ networth }}
                </span></h4><br>
            {% endif %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Account</th>
                            <th>Balance</th>
                            <th>Last Operated</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in accounts %}
                        {% if 'Current' in account[3] %}
                        {% set trbgcolor = "#F1F6FA" %}
                        {% elif 'Savings' in account[3] %}
                        {% set trbgcolor = "#EBF2EA" %}
                        {% elif 'Credit Card' in account[3] %}
                        {% set trbgcolor = "#FBF1EF" %}
                        {% endif %}
                        <tr bgcolor="{{ trbgcolor }}">
                            <td>
                                <a
                                    href="{{ url_for('account_transactions', accountname=account[0], period='normal') }}">
                                    {{ account[0] }}
                                </a>
                            </td>
                            <td>
                                {% if 'Credit Card' in account[3] %}
                                <font color="red">&pound;&nbsp;{{ '%0.2f' % account[1]|float }}</font>
                                {% else %}
                                &pound;&nbsp;{{ '%0.2f' % account[1]|float }}
                                {% endif %}
                            </td>
                            <td>{{ account[2] }}</td>
                            <td>{{ account[3] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> [Monthly] Income/Expense Trend since beginning</h3>
        </div>
        <div class="panel-body">
            {% if inexAllGraph %}
            <embed type="image/svg+xml" src={{inexAllGraph|safe}} style='max-width:100%' />
            {% endif %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> [Yearly] Income/Expense Trend since beginning</h3>
        </div>
        <div class="panel-body">
            {% if inexYearlyAllGraph %}
            <embed type="image/svg+xml" src={{inexYearlyAllGraph|safe}} style='max-width:100%' />
            {% endif %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> Expense Trend since beginning</h3>
        </div>
        <div class="panel-body">
            {% if exAllGraph %}
            <embed type="image/svg+xml" src={{exAllGraph|safe}} style='max-width:100%' />
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}